<div class="content">
    <mat-card>
        <div *ngIf="auth.user$ | async; then authenticated else guest">
            <!-- template substitui essa div -->
        </div>
    </mat-card>
    
    <!-- Usuário não autenticado -->
    <ng-template #guest>
    <mat-card-title>Olá</mat-card-title>
    <mat-card-subtitle>Faça login para começar...</mat-card-subtitle>
    <br>
    <mat-card-actions>
        <button mat-button color="primary" (click)="auth.googleSignin()">Conectar com o Google</button>
        <button mat-button color="primary" (click)="toggleLoginMenu()">Conectar com o Email</button>
        <div *ngIf="emailLogin">
            <form [formGroup]="loginForm" (ngSubmit)="auth.EmailSignin(loginForm.value)">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Password" formControlName="password">
                </mat-form-field>
                <br>
                <button mat-flat-button color="warn" type="submit">Login</button>
            </form>
        </div>
        <button mat-flat-button color="primary" routerLink="/signup">Criar Conta</button>
    </mat-card-actions>
    </ng-template>
    
    
    <!-- Usuário autenticado -->
    <ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">
        <mat-card-title>Olá, {{ user.displayName }}</mat-card-title>
        <mat-card-subtitle>Seja bem vindo!</mat-card-subtitle>
        <img mat-card-image class="profile-avatar" [src]="user.photoURL">
        <mat-card-content>
            <h1>Admin</h1>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="warn" (click)="auth.signOut()">Desconectar</button>
        </mat-card-actions>
    </div>
    </ng-template>
</div>